	<!-- index.html -->
	<!DOCTYPE html>
	<html ng-app="demoApp">
	<head>
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	  <!-- SCROLLS -->
	  <!-- load bootstrap and fontawesome via CDN -->
	  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
	  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
	  <link rel="stylesheet" href="ulv-multi-sidebar.css" />
	  <!-- SPELLS -->
	  <!-- load angular and angular route via CDN -->
	  
	  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-swipe.js"></script>-->
	  <script src="ulv-multi-sidebar.js"></script>
	</head>
	<body ng-controller="mainController">
	<style>


	
	</style>

		<!-- MAIN CONTENT AND INJECTED VIEWS -->
		<div id="main" class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<ulv-multi-sidebar id="sidebar" active="showSidebar1" collapsed="collapsedSidebar1">
						<div transclude-sidebar="menu">
							<div class="row">
								<div class="col-md-12">
									
								</div>
							</div>
							<div class="list-group">
								<a ng-click="changeView()" class="list-group-item active">I</a>
								<a ng-click="changeView()" class="list-group-item">am</a>
								<a ng-click="changeView()" class="list-group-item">in</a>
								<a ng-click="changeView()" class="list-group-item">sidebar</a>
								<a ng-click="changeView()" class="list-group-item">1</a>
							</div>
						</div>
						<div transclude-sidebar="body">
							<div class="row" style="height:500px;">
								<div class="col-md-12">
									<div class="well" style="height:100%">
										<button ng-if="collapsedSidebar1" class="btn btn-default" ng-click="toggleSidebar1()">
											<i ng-class="showSidebar1 ? 'fa fa-chevron-left' : 'fa fa-chevron-right'"></i>
										</button>
										This is the body of sidebar 1
										<ulv-multi-sidebar id="sidebar2" active="showSidebar2" break-width="400"  collapsed="collapsedSidebar2">
											<div transclude-sidebar2="menu">
												<div class="row">
													<div class="col-md-12">
														<div class="panel panel-success">
															<div class="panel-heading">
																<div class="panel-heading">
																	This is the sidebar of sidebar 2.
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div transclude-sidebar2="body">
												<div class="row">
													<div class="col-md-12">
														<div class="panel panel-success">
															<div class="panel-heading">
																<h5 class="text-center">
																	<a ng-if="collapsedSidebar2" class="pull-left" ng-click="toggleSidebar2()">
																		<i ng-class="showSidebar2 ? 'fa fa-chevron-left' : 'fa fa-chevron-right'"></i>
																	</a>
																	Body 2
																</h5>
															</div>
															<div class="panel-body">
																<p>
																This is the body of sidebar 2, as you can see sidebar 2 is inside sidebar 1	
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</ulv-multi-sidebar>
										This is also the body of sidebar 1
										<ulv-multi-sidebar id="sidebar3" active="showSidebar3" break-width="400"  collapsed="collapsedSidebar3">
											<div transclude-sidebar3="menu">
												<div class="row">
													<div class="col-md-12">
														<div class="panel panel-danger">
															<div class="panel-heading">
																<div class="panel-heading">
																	This is the sidebar of sidebar 3.
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div transclude-sidebar3="body">
												<div class="row">
													<div class="col-md-12">
														<div class="panel panel-danger">
															<div class="panel-heading">
																<h5 class="text-center">
																	<a ng-if="collapsedSidebar3" class="pull-left" ng-click="toggleSidebar3()">
																		<i ng-class="showSidebar3 ? 'fa fa-chevron-left' : 'fa fa-chevron-right'"></i>
																	</a>
																	Body 3
																</h5>
															</div>
															<div class="panel-body">
																<p>
																	This is the body of sidebar 3, as you can see sidebar 3 is inside sidebar 1	
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</ulv-multi-sidebar>
										And we still got the body of sidebar 1 here
									</div>
								</div>
							</div>
						</div>
					</ulv-multi-sidebar>
				</div>
			</div>
		</div>

	<script>
		// create the module and name it demoApp
		var demoApp = angular.module('demoApp', ['snulvin.ulv-multi-sidebar']);

		// create the controller and inject Angular's $scope
		demoApp.controller('mainController', function($scope) {

			// create a message to display in our view
			$scope.showSidebar1 = false;
			$scope.showSidebar2 = false;
			$scope.showSidebar3 = false;
			$scope.collapsedSidebar2 = false;
			$scope.collapsedSidebar2 = false;
			$scope.collapsedSidebar3 = false;

			$scope.toggleSidebar1 = function() {
				if ($scope.showSidebar1) {
					$scope.showSidebar1 = false;
				} else {
					$scope.showSidebar1 = true;
				}
			};
			$scope.toggleSidebar2 = function() {
				if ($scope.showSidebar2) {
					$scope.showSidebar2 = false;
				} else {
					$scope.showSidebar2 = true;
				}
			};
			$scope.toggleSidebar3 = function() {
				if ($scope.showSidebar3) {
					$scope.showSidebar3 = false;
				} else {
					$scope.showSidebar3 = true;
				}
			};
		});
	</script>

	</body>
	</html>
