    <!-- index.html -->
    <!DOCTYPE html>
    <html ng-app="demoApp">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <!-- SCROLLS -->
      <!-- load bootstrap and fontawesome via CDN -->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
      <link rel="stylesheet" href="multi-sidebar.css" />
      <!-- SPELLS -->
      <!-- load angular and angular route via CDN -->
      
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
      <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-swipe.js"></script>-->
      <script src="multi-sidebar.js"></script>
    </head>
    <body ng-controller="mainController">

        <!-- HEADER AND NAVBAR -->
        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Demo</a>
                </div>
            </div>
            </nav>
        </header>

        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <div id="main" class="container-fluid">
		<ulv-multi-sidebar focus="showSidebar">
  			<div transclude-to="menu">
				<div class="list-group">
  					<a ng-click="changeView()" class="list-group-item active">Cras justo odio</a>
					<a ng-click="changeView()" class="list-group-item">Dapibus ac facilisis in</a>
  					<a ng-click="changeView()" class="list-group-item">Morbi leo risus</a>
					<a ng-click="changeView()" class="list-group-item">Porta ac consectetur ac</a>
					<a ng-click="changeView()" class="list-group-item">Vestibulum at eros</a>
				</div>
  			</div>
  			<div transclude-to="body">
				<div ng-click="changeView()" class="btn btn-default">Return to list view</div>
				Content of the body
  			</div>
		</ulv-multi-sidebar>
        </div>

	<script>
	    // create the module and name it demoApp
	    var demoApp = angular.module('demoApp', ['snulvin.angular-multi-sidebar']);

	    // create the controller and inject Angular's $scope
	    demoApp.controller('mainController', function($scope) {

        	// create a message to display in our view
	        $scope.showSidebar = true;

		$scope.changeView = function() {
			console.log('test');
			$scope.showSidebar = !$scope.showSidebar;
		}
	    });
	</script>

    </body>
    </html>
